@model IEnumerable<RCMMaps.Models.Demo>

@{
    ViewBag.Title = "Demos";
}

<h2>Demo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Demo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DemoWeeklyImpressions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Board.BoardNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			<a href="@Url.Action("Details", "Demos", new { id = item.ID })">
				@Html.DisplayFor(modelItem => item.Demo1)
			</a>
        </td>
        <td>
			<a href="@Url.Action("Details", "Demos", new { id = item.ID })">
				@Html.DisplayFor(modelItem => item.DemoWeeklyImpressions)
			</a>
        </td>
        <td>
			<a href="@Url.Action("Details", "Demos", new { id = item.ID })">
				@Html.DisplayFor(modelItem => item.DateUpdated)
			</a>
        </td>
        <td>
			<a href="@Url.Action("Details", "Demos", new { id = item.ID })">
				@Html.DisplayFor(modelItem => item.Source)
			</a>
        </td>
        <td>
			<a href="@Url.Action("Details", "Demos", new { id = item.ID })">
				@Html.DisplayFor(modelItem => item.Board.BoardNumber)
			</a>
        </td>
        <td width="70px">
			<a href="@Url.Action("Edit", "Demos", new { id = item.ID })" class="btn btn-info btn-xs">
				<span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="@Url.Action("Delete", "Demos", new { id = item.ID })" class="btn btn-danger btn-xs">
				<span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
}

</table>
