@model RCMMaps.Models.MapDefault

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Delete this MapDefault?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterOnLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterOnLat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterOnLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterOnLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZoomLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZoomLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayZoomControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayZoomControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayMapTypeControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayMapTypeControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayScaleControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayScaleControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayStreetViewControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayStreetViewControl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayPanControl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayPanControl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />&nbsp;|&nbsp;@Html.ActionLink("Cancel", "Index")
        </div>
    }
</div>
