@model RCMMaps.Models.Board

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Board</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BoardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SideOfStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideOfStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadDirection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadDirection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Illuminated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Illuminated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weekly18PlusImpressions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weekly18PlusImpressions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabPanelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabPanelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkToProductionSpecs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkToProductionSpecs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardType.BoardType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardType.BoardType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DMA.DMA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DMA.DMA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardVendor.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardVendor.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionVendor.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionVendor.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardRating.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardRating.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
